$baseColor = #ff348b 
$grayColor = #ccc
$borderColor = #eee
$linkColor = #ff5823
//00d8ff
$center()
	display flex
	justify-content center
	align-items center

$1px-border(pos)
	background linear-gradient(transparent 0, transparent 50%, $borderColor 50%)
	background-size 100% 1px
	background-repeat no-repeat
	background-position pos